.movie-card {
    padding: 20px;
    display: grid;
    grid-template-rows: 50px 300px auto;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
}
.movie-description{
    padding: 30px;
}